In [1]:
import pandas as pd

# import necessaire à la création des widgets
from IPython.display import display, clear_output, HTML, Markdown 
import ipywidgets as widgets

### Fichier Buchanan-J

In [2]:
# préciser le chemin du fichier à lire
cheminDuFichierCSV = "./../data/dictionary/1757_Buchanan-J.csv" 

# demander à pandas de lire le fichier et garder ce tableau accessible dans une variable
dfDicoBuch = pd.read_csv(cheminDuFichierCSV, delimiter=";", encoding="utf8")

# afficher à l'écran un échantillon du tableau
dfDicoBuch.sample(n=5)

       nbSyll         pron origin warning remarques POS  lineId  pageId
8320        2     măʹſtiff    NaN     NaN       NaN  n.    13.0     137
378         3  alte˘ʹrnāte     L.     NaN       NaN  a.    56.0      24
10768       2     propōʹſe     F.     NaN       NaN  v.    23.0     171
1982        2      căʹvĕrn     L.     NaN       NaN  n.     7.0      47
13936       1         toll    NaN     NaN       NaN  n.    37.0     215

### Fichier à intégrer

In [3]:
# préciser le chemin du fichier à lire
cheminDuFichierCSV = "./../data/dictionary/Buchanan_PronChar_counts.csv" 

# demander à pandas de lire le fichier et garder ce tableau accessible dans une variable
dfDicoPron = pd.read_csv(cheminDuFichierCSV, delimiter=";", encoding="utf8")

# afficher à l'écran un échantillon du tableau
dfDicoPron

   char    occ graph
0     a   3207     a
1     ʹ  12725   NaN
2     b   2288     b
3     ă   4533     a
4     c   5500     c
..  ...    ...   ...
68    á      1     a
69    I      1     l
70    х      2     x
71    р      1     p
72    ï      1     i

[73 rows x 3 columns]

In [19]:
dfDicoPron = dfDicoPron.dropna()

In [29]:
def BucToPron(strSampa, dfMapping):
    ipaRes = ""
    
    for valSampa in strSampa:
        dfRowFinded = dfMapping[dfMapping['char']==valSampa]

        if len(dfRowFinded==1):
            ipaRes+=dfRowFinded.iloc[0]['graph']
        else:
            ipaRes+=''
    return ipaRes

In [32]:
dfDicoPronRich = dfDicoBuch.sample(n=100).copy()

dfDicoBuch['Headword'] = dfDicoBuch.apply(lambda x: BucToPron(x['pron'], dfDicoPron),1)

In [33]:
dfDicoBuch

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,Headword
0,3,aʹbăcus,NaN,NaN,NaN,n.,2.0,19,abacus
1,2,ăbăʹft,NaN,NaN,NaN,p.,3.0,19,abaft
2,3,ăbaiʹſănce,F.,NaN,NaN,n.,4.0,19,abaisance
3,3,ābăʹndon,F.,NaN,NaN,v.,5.0,19,abandon
4,4,ābăʹndŏned,NaN,NaN,NaN,a.,6.0,19,abandoned
...,...,...,...,...,...,...,...,...,...
15795,4,zōŏʹgrăphy,G.,NaN,NaN,n.,19.0,241,zoography
15796,4,zōŏʹphytès,G.,NaN,NaN,n.,20.0,241,zoophytes
15797,4,zōŏʹphŏric,G.,NaN,NaN,n.,21.0,241,zoophoric
15798,4,zōŏʹtŏmiſt,G.,NaN,NaN,n.,22.0,241,zootomist
15799,3,zŏʹtĭcā,G.,NaN,NaN,n.,23.0,241,zotica